
<h3> Create New Plane Config</h3>

<div id="new-plane-container">
        <form action="/plane-submit">
            <input type="text" name="name" placeholder="name">
            <input type="text" name="row" placeholder="rows">
            <input type="text" name="col" placeholder="cols"><br>
            <input type="submit" value="Submit">
        </form>
</div>