/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
   margin: 0px;
   background-color: rgb(189, 186, 186);
 }

 table {
    width:60%;
    
  }

  th, td {
	padding: 15px;
	text-align: left;
	font-size: 20px;
  }

table tr:nth-child(even) {
	background-color: #eee;
  }

table tr:nth-child(odd) {
   background-color: #fff;
  }

table th {
	background-color: black;
	color: white;
  }

  header{
    background-color: #a49277;
    color:#FFFFFF;
    padding: 30px 20px;
    text-align: left;
  }

  nav{
    background-color: hsl(68, 9%, 34%);
    color:#FFFFFF;
    padding: 20px;
    text-align: left;
  }

  a{
    font-family:"Raleway",sans-serif;
    color:rgb(211, 88, 50);
    letter-spacing:1px;
    font-weight:600;
    font-size:18px;
    text-decoration: none;
    margin: 0px 20px;
    border-bottom: 2px solid transparent;
    
  }
  a:hover{
    border-color: white;
  }  